<div class="upload">
	<h2>File Upload</h2>
	<form action="/" method="post" enctype="multipart/form-data">
		<input type="file" name="file" value=""><br>
		<input type="text" name="zippwd" value="" placeholder="Password (optional)"><br>
		<input type="submit" value="Upload &uarr;">
	</form>
</div>
