


<form id="uploadform" action="/" method="post" enctype="multipart/form-data">
	<input type="file" name="file" value="" id="file"><br>
	<input type="text" name="zippwd" value="" id="zippwd" placeholder="Password (optional)"><br>
	<input type="submit" value="Upload &uarr;">
</form>
