
html, body { height: 100%; }

body {
	margin: 0;
	padding: 1em;
	background-color: ;
	background: #E1EFF7;
	font-family: Helvetica, Sans-Serif;
}

#drop_target {
	border: 0.5em solid transparent;
}

#drop_target.drop_now {
	border-color: gray;
}

#container {
	text-align: center;
}

.upload {
	display: block;
	width: 14.5em;
	margin: 0.5em auto;
	padding: 0.5em;
	background-color: white;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}

.upload form {
	margin: 0;
	padding: 0;
}

.upload input {
	width: 100%;
}

.upload h2 {
	text-align: left;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
	white-space: nowrap;
	text-overflow: ellipse;
}

.feedback {
	text-align: left;
	position: relative;
	background: white;
	overflow: hidden;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}

.feedback span {
	font-size: 10px;
}

.feedback .progress {
	margin-top: 5px;
	height: 2px;
	width: 2px;
	background-color: #FFCC00;
	border-radius: 2px; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
}

.feedback.done .progress {
	background-color: green;
}

.note {
	color: red;
}

input {
	width: 16em;
}

