
body {
	margin: 0;
	padding: 1em;
	background-color: ;
	background: #E1EFF7 no-repeat center url(/cloud.png);
}

.container {
	
}

.container > .content {
	width: 16em;
	height: 12em;
	margin: 20% auto;
	padding: 1em;
	font-size: 0.76em;
	
}

.note {
	color: red;
}

input {
	width: 16em;
}

