
html, body { height: 100%; }

body {
	margin: 0;
	padding: 1em;
	background-color: ;
	background: #E1EFF7;
}

.container {
	
}

.container > .content {
	display: table;
	width: 14.5em;
	margin: 20% auto;
	padding: 1em;
	font-size: 0.76em;
	background-color: white;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

#drop_target {
	border: 1em solid transparent;
}

#drop_target.drop_now {
	border-color: blue;
}

.note {
	color: red;
}

input {
	width: 16em;
}

